.app-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-container{
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.register-title{
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
}

/* .register-input{
  display: block;
  padding: 7px 0;
  margin: 10px auto;
} */

.register-button{
  margin: 20px 0px 10px 0px;
}

.followers-container{
  font-family: monospace;
  font-size: large;
  padding: 20px;
}

.edit-button{
  padding: 0px 5px;
  margin-left: 10px;
}

.delete-button{
  padding: 0px 5px;
  margin-left: 10px;
}

.input-group input {
  width: calc(100% - 10px);
}

.input-group p {
  font-weight: bold;
}

.radio-group p{
  font-weight: bold;
}